@font-face {
  font-family: Tungsten;
  src: url(../../assets/fonts/Tungsten_Bold/Tungsten-Bold.ttf);
}

h1 {
  font-family: "Tungsten";
  color: #0f1923;
  letter-spacing: 1px;
  font-size: 50px;
  text-align: center;
  padding-left: 2rem;
}

.guns:hover {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  background-color: #ff4655;
  font-weight: bold;
}
