@font-face {
    font-family: honk;
    src: url(../assets/fonts/Honk/Honk-Regular-VariableFont_MORF\,SHLN.ttf);
}
@font-face {
    font-family: jaro ;
    src: url(../assets/fonts/Jaro/Jaro-Regular-VariableFont_opsz.ttf);
}
