@font-face {
  font-family: silk;
  src: url(../assets/fonts/Silkscreen/Silkscreen-Regular.ttf);
}

.logo {
  filter: drop-shadow(0 0 0.2rem #82ffe4);
}

.links {
  position: relative;
  color: #22e000;
  transition: color 0.3s, transform 0.3s;
}

.links.active {
  color: red;
  transform: none;
}

.links::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #4bdeff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.links:hover {
  color: #4bdeff;
}

.links:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cart-icon {
  color: #22e000;
  transition: color 0.3s;
}

.cart-icon:hover {
  color: #4bdeff;
}

.cart-bubble {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #ff0000;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
